wsdl/event-calendar/event-calendar.service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="idElement" type="s:string"/>
            <s:element name="eventIdElement" type="s:string"/>
            <s:element name="regId" type="s:string"/>
            <s:element name="deleteRegId" type="s:string"/>

            <s:element name="empty">
                 <s:complexType>
                </s:complexType>
            </s:element>

            <s:complexType name="registration">
                <s:sequence>
                    <s:element minOccurs="0" name="id" type="s:string"/>
                    <s:element minOccurs="0" name="eventId" type="s:string"/>
                    <s:element minOccurs="0" name="name" type="s:string"/>
                    <s:element minOccurs="0" name="surname" type="s:string"/>
                    <s:element minOccurs="0" name="email" type="s:string"/>
                </s:sequence>
            </s:complexType>

            <s:element name="registration" type="tns:registration" />

            <s:element name="registrations">
               <s:complexType>
                     <s:sequence>
                        <s:element maxOccurs="unbounded" name="registration" type="tns:registration"/>
                     </s:sequence>
               </s:complexType>
            </s:element>

            <s:complexType name="event">
                  <s:sequence>
                    <s:element name="id" type="s:string"/>
                    <s:element minOccurs="1" name="name" type="s:string"/>
                    <s:element minOccurs="1" name="date" type="s:string"/>
                    <s:element minOccurs="1" name="location" type="s:string"/>
                    <s:element name="guests">
                        <s:complexType>
                            <s:sequence>
                                <s:element minOccurs="0" maxOccurs="unbounded" name="guest" type="s:string"/>
                            </s:sequence>
                        </s:complexType>
                    </s:element>
                    <s:element name="attendees">
                        <s:complexType>
                            <s:sequence>
                                <s:element minOccurs="0" maxOccurs="unbounded" name="attendee" type="tns:registration"/>
                            </s:sequence>
                        </s:complexType>
                    </s:element>
                  </s:sequence>
               </s:complexType>

            <s:element name="event" type="tns:event"/>

            <s:element name="events">
               <s:complexType>
                     <s:sequence>
                        <s:element maxOccurs="unbounded" name="event" type="tns:event"/>
                     </s:sequence>
               </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>

    <wsdl:message name="eventListRequest">
      <wsdl:part name="empty" element="tns:empty"/>
    </wsdl:message>

    <wsdl:message name="eventListResponse">
        <wsdl:part name="events" element="tns:events"/>
    </wsdl:message>

    <wsdl:message name="deleteEventRequest">
      <wsdl:part name="id" element="tns:idElement"/>
    </wsdl:message>

    <wsdl:message name="deleteEventResponse">
      <wsdl:part name="id" element="tns:idElement"/>
    </wsdl:message>

    <wsdl:message name="getEventRequest">
      <wsdl:part name="id" element="tns:idElement"/>
    </wsdl:message>

    <wsdl:message name="getEventResponse">
      <wsdl:part name="id" element="tns:event"/>
    </wsdl:message>

    <wsdl:message name="createEventRequest">
        <wsdl:part name="event" element="tns:event"/>
    </wsdl:message>

    <wsdl:message name="createEventResponse">
        <wsdl:part name="event" element="tns:idElement"/>
    </wsdl:message>

    <wsdl:message name="createEventRegistrationRequest">
        <wsdl:part name="registration" element="tns:registration"/>
    </wsdl:message>

     <wsdl:message name="createEventRegistrationResponse">
        <wsdl:part name="registration" element="tns:idElement"/>
    </wsdl:message>

    <wsdl:message name="getEventRegistrationsRequest">
        <wsdl:part name="registration" element="tns:eventIdElement"/>
    </wsdl:message>

    <wsdl:message name="getEventRegistrationsResponse">
        <wsdl:part name="registrations" element="tns:registrations"/>
    </wsdl:message>

    <wsdl:message name="getRegistrationRequest">
        <wsdl:part name="registration" element="tns:regId"/>
    </wsdl:message>

    <wsdl:message name="getRegistrationResponse">
        <wsdl:part name="registration" element="tns:registration"/>
    </wsdl:message>

    <wsdl:message name="deleteRegistrationRequest">
        <wsdl:part name="registration" element="tns:deleteRegId"/>
    </wsdl:message>

    <wsdl:message name="deleteRegistrationResponse">
        <wsdl:part name="registration" element="tns:idElement"/>
    </wsdl:message>

    <wsdl:portType name="EventCalendarPortType">

        <wsdl:operation name="getEvents">
            <wsdl:input message="tns:eventListRequest"/>
            <wsdl:output message="tns:eventListResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getEventById">
            <wsdl:input message="tns:getEventRequest"/>
            <wsdl:output message="tns:getEventResponse"/>
        </wsdl:operation>

        <wsdl:operation name="deleteEvent">
            <wsdl:input message="tns:deleteEventRequest"/>
            <wsdl:output message="tns:deleteEventResponse"/>
        </wsdl:operation>

        <wsdl:operation name="createEvent">
            <wsdl:input message="tns:createEventRequest"/>
            <wsdl:output message="tns:createEventResponse"/>
        </wsdl:operation>

        <wsdl:operation name="createEventRegistration">
            <wsdl:input message="tns:createEventRegistrationRequest"/>
            <wsdl:output message="tns:createEventRegistrationResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getEventRegistrations">
            <wsdl:input message="tns:getEventRegistrationsRequest"/>
            <wsdl:output message="tns:getEventRegistrationsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getRegistration">
            <wsdl:input message="tns:getRegistrationRequest"/>
            <wsdl:output message="tns:getRegistrationResponse"/>
        </wsdl:operation>

        <wsdl:operation name="deleteRegistration">
            <wsdl:input message="tns:deleteRegistrationRequest"/>
            <wsdl:output message="tns:deleteRegistrationResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="EventCalendarBinding" type="tns:EventCalendarPortType">

        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

         <wsdl:operation name="getEvents">
            <soap:operation soapAction="http://localhost:5000/getEvents"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
         </wsdl:operation>
        
         <wsdl:operation name="createEvent">
            <soap:operation soapAction="http://localhost:5000/createEvent"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
         </wsdl:operation> 

        <wsdl:operation name="getEventById">
            <soap:operation soapAction="http://localhost:5000/getEventById"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
         </wsdl:operation> 
        
        <wsdl:operation name="deleteEvent">
            <soap:operation soapAction="http://localhost:5000/deleteEvent"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="createEventRegistration">
            <soap:operation soapAction="http://localhost:5000/createEventRegistration"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getEventRegistrations">
            <soap:operation soapAction="http://localhost:5000/getEventRegistrations"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getRegistration">
            <soap:operation soapAction="http://localhost:5000/getRegistration"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

       <wsdl:operation name="deleteRegistration">
            <soap:operation soapAction="http://localhost:5000/deleteRegistration"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="EventCalendarService">
        <wsdl:port name="EventCalendarPort" binding="tns:EventCalendarBinding">
            <soap:address location="http://localhost:5000/event-calendar-service"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>